<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Riddle Game">
    <title>Text Riddle Game</title>
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Text-based Riddle Game</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">New Link</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Game Entries Column -->
        {% set col_1 = 12  %}
        {% if details["TotalUsers"] %} 
           
           {% if details["User"] not in "None" %}
              {% set col_1 = 4 %}
        <div class="col-md-8">
          <h1 class="my-4">Start Playing {{ details["User"].title() }}</h1>

          <!-- Game Post -->
          <div class="card mb-4">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1>Question:</h1>      
                <p>{{ details["QuestionsAnswers"]["question"] }}</p>
                
              </div>
              <p style="margin-left:15px; color:#C0C0C0;">POINTS LEFT: <span id="points">10</span>{{ details["TestItCame"] }}</p>
            </div>
            <div class="card-body">
              <h2 class="card-title" id="answerAttempts">Answer:</h2>
              <form action="/index/" method="POST" id="formAnswers" name="formAnswers" onsubmit="return false">
                <div class="answer">
                  <input type="text" class="form-control" id="answer" placeholder="Enter your answer:" name="answer">
                  <button type="submit" class="btn btn-primary" id="btnAnswer">Submit Your Answer</button>
                  <h5 style="float:right;"><span class="label label-default"><a href="/{{ details["User"].title() }}">[ Skip ]</a></span></h5>
                  <p class="incorrectA" id="incorrectA"></p><span id="guesses"></span>
                  <input name="this_user" type="hidden" id="this_user" value="{{ details["User"] }}" />
                  <input name="this_user_reg_status" type="hidden" id="this_user_reg_status" value="{{ details["UserRegState"] }}" />
                  <input name="attempts" type="hidden" id="attempts" value="0" />
                  <input name="user_received_question" type="hidden" id="user_received_question" value="{{ details["QuestionsAnswers"]["id"] }}" />
                  <input name="user_received_answer" type="hidden" id="user_received_answer" value="{{ details["QuestionsAnswers"]["answer"] }}" />
                </div>
              </form>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
          
        </div>
           {% endif %}
       {% endif %} 
        
        
        <!-- Sidebar Widgets Column -->
        <div class="col-md-{{ col_1 }}">

          <!-- Registration Table -->
          {% if not details["UserRegState"] %} 
          {% if details["TotalUsers"] <= 9  %} 
          {% endif %}
          {% endif %}          
          <div class="card my-4">
            <h5 class="card-header">Enter User</h5>
            <div class="card-body">
              <div class="input-group">
                <form action="/index" method="POST" name="user_form">
                  {% if true %}
                  <p>{{ details["Notice"][details["Status"]] }}</p>
                  {% endif %}
                  <input type="text" class="form-control" name="user_name" placeholder="Enter A Username">
                  <span class="input-group-btn">
                    <div class="users">
                      <button class="btn btn-secondary" type="submit">Go!</button>
                    </div>
                  </span>
                </form>
              </div>
            </div>
          </div>

          
          <!-- Scores Table -->
          {% if details["TotalUsers"] %}
          {% if details["User"] not in "None" %}
          <div class="card my-4">
            <h5 class="card-header">Scores Board</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div id="time"></div>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Points</th>
                      </tr>
                    </thead>
                    <tbody>

						
					 {% for key in details["Winners"] %}
					 
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ key  }}</td>
                        <td>{{ details["ScoresBoard"][key]  }}</td>
                      </tr>
						
					 {% endfor %}					

                    </tbody>
                  </table>                
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Text Riddle Game 2018</p>
      </div>
      <!-- /.container -->
    </footer>
  <script type="text/javascript">
    document.getElementById("btnAnswer").addEventListener("click", checkAnswer);
    function checkAnswer() {
      var attempts = parseInt(document.getElementById("attempts").value, 10);
      var userGuesses = document.getElementById("answer").value;
      attempts += 1;
      document.getElementById("answerAttempts").innerHTML = "Answer Attempts: " + attempts;
      document.getElementById("attempts").value = attempts;
      document.getElementById("answer").value = "";//resets the answer for further answers
      document.getElementById("incorrectA").style.color = 'red';
      var myNotice = "<strong>Wrong!</strong>:<br />";
      var points = parseInt(document.getElementById("points").innerHTML, 10);

       if(!compareAnswers(userGuesses,document.getElementById("user_received_answer").value)){
         myNotice = "<strong>Correct!</strong>:<br />";
         document.getElementById("incorrectA").style.color = 'green';
         document.getElementById("incorrectA").innerHTML = myNotice + userGuesses;
         // document.getElementById("formAnswers").submit()
         autoLogIn((points + 1));

       }else{
         document.getElementById("incorrectA").innerHTML = myNotice + userGuesses;
         document.getElementById("points").innerHTML = (points - 1);
       }
//       document.getElementById("guesses").innerHTML = userGuesses;
       

      function compareAnswers(userAnswer,gameAnswer) {
         // Used to compare the user answer and the game answer;
          return userAnswer.toLowerCase().localeCompare(gameAnswer.toLowerCase());
      }

      
      function autoLogIn(points) {
          var form = document.createElement("form");
          var userName = document.createElement("input");  
          var questionId = document.createElement("input");  
          var pointsReceived = document.createElement("input");  
      
          form.method = "POST";
          form.action = "/index/"; 
          
          questionId.setAttribute("type", "hidden");
          questionId.value=document.getElementById("user_received_question").value;
          questionId.name="questionId";
          form.appendChild(questionId);
          
          userName.setAttribute("type", "hidden");
          userName.name="userName";
          userName.value=document.getElementById("this_user").value;
          form.appendChild(userName);           
          
          pointsReceived.setAttribute("type", "hidden");
          pointsReceived.name="pointsReceived";
          pointsReceived.value=points;
          form.appendChild(pointsReceived);               

          document.body.appendChild(form);
          form.submit();
      }      
      
    }
  </script>
  </body>

</html>
