<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Riddle Game">
    <title>Text Riddle Game</title>
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Text-based Riddle Game</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <span id="endSession" name="endSession">End Your Session</span>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Start New Game</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Game Entries Column -->
            {% set col_1 = 12 %} {% if details["TotalUsers"] %} {% if details["User"] not in "None" %} {% set col_1 = 4 %}
            <div class="col-md-8">
                <h1 class="my-4">Start Playing {{ details["User"].title() }}</h1>

                <!-- Game Post -->
                <div class="card mb-4">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1>Question <span class="small" style="margin-left:15px; color:#C0C0C0;">{{ details["HowManyQuestions"] }} of 30:</span></h1>
                            <p>{{ details["QuestionsAnswers"]["question"] }}</p>

                        </div>
                        <p style="margin-left:15px; color:#C0C0C0;"><span id="pointsMes">POINTS:</span>
                            <span id="points">10</span></p>
                    </div>
                    
                    <div class="card-body">
                        {% if details["HowManyQuestions"] < 31 %}
                        <h2 class="card-title" id="answerAttempts">Answer:</h2>
                        {% endif %}
                        <form id="formAnswers" name="formAnswers" onsubmit="return false">
                            <div class="answer">
                                {% if details["HowManyQuestions"] < 31 %}
                                <input type="text" class="form-control" id="answer" placeholder="Enter your answer:" name="answer">
                                <button type="submit" class="btn btn-primary" id="btnAnswer">Submit Your Answer</button>
                                
                                <h5 style="float:right;">
                                    <span class="label label-default">
                                        <a href="/{{ details["User"].title() }}">[ Skip ]</a>
                                    </span>
                                </h5>
                                {% endif %}
                                <p class="incorrectA" id="incorrectA"></p>
                                <span id="guesses">
                                    <ol id="guessed"></ol>
                                </span>
                                <input name="this_user" type="hidden" id="this_user" value="{{ details["User"] }}" />
                                <input name="this_user_reg_status" type="hidden" id="this_user_reg_status" value="{{ details["UserRegState"] }}" />
                                <input name="attempts" type="hidden" id="attempts" value="0" />
                                <input name="user_received_question" type="hidden" id="user_received_question" value="{{ details["QuestionsAnswers"]["id"] }}" />
                                <input name="user_received_answer" type="hidden" id="user_received_answer" value="{{ details["QuestionsAnswers"]["answer"] }}" />
                                <input name="noPlayers" type="hidden" id="noPlayers" value="{{ details["Players"] }}"/>
                            </div>
                        </form>
                    </div>
                    
                    <div class="card-footer text-muted">
                    </div>
                </div>

            </div>
            {% endif %} {% endif %}

            <!-- Sidebar Widgets Column -->
            <div class="col-md-{{ col_1 }}">
                <!-- Registration Table -->
                {% if not details["UserRegState"] %} {% if details["TotalUsers"] <= 9 %} {% endif %} {% endif %} <div class="card my-4">
                    <h5 class="card-header">Enter User</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <form action="/index" method="POST" name="user_form">
                                <div class="input-group">
                                  <span class="input-group-addon">Select Number Of Players: </span> 
    								
    								  {% if details["Players"]  > 0 %}
    								  <select id="players" name="players" style="width:100%" class="form-control">
    								  <option value="{{ details["Players"] }}">{{ details["Players"] }} Player(s)</option>
    								  </select>
    								  {% else %}
    								  <select id="players" name="players"  style="width:100%" class="form-control">
    								  <option value="1">1 Player</option>
    								  <option value="2">2 Players</option>
    								  <option value="3">3 Players</option>
    								  <option value="4">4 Players</option>
    								  <option value="5">5 Players</option>
    								  <option value="6">6 Players</option>
    								  <option value="7">7 Players</option>
    								  <option value="8">8 Players</option>  
    								  <option value="9">9 Players</option>
    								  <option value="10">10 Players</option>
    								  </select>
    								  {% endif %}
    								
                                </div><br />
                                <div class="input-group">
                                  <span class="input-group-addon">Group: </span>
                                  {% if not details["Team"] %} 
                                  <input type="text" class="form-control"  style="width:100%" id="team_name" name="team_name" placeholder="Enter Group Name" value="{{ details["Team"] }}">
                                  {% else %}
                                  <input type="text" class="form-control" style="width:100%"  id="team_name" name="team_name" placeholder="Enter Group Name" value="{{ details["Team"] }}" readonly="readonly">
                                  {% endif %}
                                  <input name="reg_players" type="hidden" id="reg_players" value="{{ details["regPlayers"] }}" />
                                </div>
                                {% set show = 1 %}
                                {% if details["Players"] %} 
                                    {% if details["regPlayers"] == details["Players"] %} 
                                        {% set show = 0 %}    
                                    {% endif %}                                
                                {% endif %}
                                {% if show  %}
                                <br />
                                <span class="input-group-addon">User: </span> 
                                <input type="text" class="form-control"  style="width:100%" id="user_name" name="user_name" placeholder="Enter A Username">
                                
                                <span class="input-group-btn">
                                    <div class="users">
                                        
                                        <button class="btn btn-secondary" name="user_submit_button" style="width:100%" type="submit">Go!</button>
                                    </div>
                                </span>
                                
                                {% endif %}
                            </form>
                        </div>
                    </div>
                {% if details["HowManyQuestions"] < 10 %}    
                <!-- Rules -->
                    <h5 class="card-header">Rules</h5>
                    <div class="card-body">
                        <div class="input-group">
                                <div class="input-group">
                                  <span class="input-group-addon" style="font-weight:800">Number of players: </span>
								 <p>This game allows single or up to 9 multiple players at a time. In order to play alone, select 1 player, and then enter a group name, and your user name and start.</p>	
                                  <span class="input-group-addon" style="font-weight:800">Group:</span>
							     <p>If you have a group of friends that you wish to compete with, enter a group name that everyone within the group should use. With this, everyone within the group will be competing with each other</p>
                                  
                                  <span class="input-group-addon" style="font-weight:800">User:</span>
							     <p>This is the username you wish to use in playing the game. Every player, single or multiple, must have a user name, and play under a group name.</p>
                                  
                                  <span class="input-group-addon" style="font-weight:800">Scoreboard:</span>
								 <p>When you start playing, the scoreboard will not be visible to you. After attempting up to 10 questions, the scoreboard will appear, and be visible throughout the game.</p>
                                  <span class="input-group-addon" style="font-weight:800">Questions & Answers:</span>
								 <p>As you answer questions correctly, points will be added to you. If wrong, a point is deducted from the points associated with the question. After 8 incorrect answers, a new question will be loaded. All incorrect guesses are displayed for you to see.</p>									 
                                </div>
                        </div>
                    </div>
                <!-- Rules section ends-->
                {% endif %}
            </div>

            <!-- Scores Table -->
            {% if details["HowManyQuestions"] >= 10 %}
            <div class="card my-4">
                <h5 class="card-header">Scores Board</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="time"></div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Username</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    {% for key in details["Winners"] %}

                                    <tr>
                                        <td>{{ details["ranks"][loop.index]}}</td>
                                        <td>{{ key }}</td>
                                        <td>{{ details["ScoresBoard"][key] }}</td>
                                    </tr>

                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Text Riddle Game 2018</p>
        </div>
        <!-- /.container -->
    </footer>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>