<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Riddle Game">
    <title>Text Riddle Game</title>
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Text-based Riddle Game</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">New Link</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Game Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Start Playing</h1>

          <!-- Game Post -->
          <div class="card mb-4">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1>Question:</h1>      
                <p>What is the name of the house next to that house?</p>
              </div>
            </div>
            <div class="card-body">
              <h2 class="card-title">Answer:</h2>
              <form action="index.html" method="POST">
                <div class="answer">
                  <input type="text" class="form-control" id="answer" placeholder="Enter your answer:" name="answer" value="{{ name }}">
                  <button type="submit" class="btn btn-primary">Submit Your Answer</button>
                </div>
              </form>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Enter Users</h5>
            <div class="card-body">
              <div class="input-group">
                <form action="/index" method="POST" name="user_form">
                  <input type="text" class="form-control" name="user_name" placeholder="Enter your first name ..">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                  </span>
                </form>
              </div>
            </div>
          </div>
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Scores Board</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div id="time"></div>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Points</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1st</td>
                        <td>john</td>
                        <td>62</td>
                      </tr>
                      <tr>
                        <td>2nd</td>
                        <td>Moe</td>
                        <td>54</td>
                      </tr>
                      <tr>
                        <td>3rd</td>
                        <td>Garry</td>
                        <td>48</td>
                      </tr>
                    </tbody>
                  </table>                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Text Riddle Game 2018</p>
      </div>
      <!-- /.container -->
    </footer>
  <script type="text/javascript">
    window.onload = startInterval;
    function startInterval()
    {
        setInterval("startTime();",1000);
    }
    
    function startTime()
    {
        document.getElementById('time').innerHTML = Date();  
    }
  </script>
  </body>

</html>
